# dependencias
/node_modules

# build output
/.next
/out

# sistema operativo
.DS_Store
Thumbs.db

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
